.chat-container {
  background-color: rgb(30 35 45);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 30%;
  height: 100vh;
}

.chat-message {
  list-style: none;
  border: 1px solid rgb(60 62 68);
  background-color: rgb(60 62 68);
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
}

.chat-messages {
  padding: 0;
  height: 80%;
  width: 80%;
  overflow-y: scroll;
}

::-webkit-scrollbar {
  background-color: rgb(36, 40, 47);
}

.chat-message > h6 {
  font-family: "Creepster", cursive;
  font-size: 22px;
  margin: 0 10px;
  color: #8ec54d;
}

.chat-message > p {
  font-size: 16px;
  margin: 5px 10px;
}

.chat-form {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.chat-input {
  width: 80%;
  font-size: 16px;
  word-wrap: break-word;
  margin: 0;
  padding: 0;
}

.chat-send {
  width: 20%;
  font-family: "Creepster", cursive;
  color: #8ec54d;
  font-size: 22px;
  border: 1px solid rgb(60 62 68);
  background-color: rgb(60 62 68);
  margin: 0;
  padding: 0;
}
