.cards-container{
  width: 65%;  
}

.cards-container>ul{  
  display: flex; 
  flex-flow: row wrap;
}

.cards-container>ul>li,
.cardPicked {  
  list-style: none;  
  border: 1px solid  #8ec54d;
  margin: 5px;
  padding: 5px;
}


.cards-container>ul>li>img,
.card {  
  height: 200px;
  width: 200px ;
}

.cards-container>ul>li>p,
.cardPicked {    
  text-align: center;
  color: #8ec54d; 
}

