body {
  width: 100%;
  height: 100%;
  margin: 0%;
  font-weight: bolder;
}

.play-page {
  color: white;
  background-color: rgb(36, 40, 47);
  font-family: "Lato", sans-serif;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
}
